<div class="container moviesList">

  <ul>
    <div class="container-fluid sortingButtonsContainer">
      <div>You can filter by <input placeholder="Title phrase" id="search" value="" [(ngModel)]="filterargs"></div>
      <div>
        <div style="float:left; width:300px; margin-right:85px;">And sort movies list by: </div>
        <div class = "sortingButton">
          <button type="button" class="btn btn-success btn-md sort" (click)="sortByTitle()">Title</button>
          <button type="button" class="btn btn-success btn-md sort" (click)="sortByDate()">Date</button>
          <button type="button" class="btn btn-success btn-md sort" (click)="sortByRating()">Rating</button>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div style="text-align:center; margin-top:20px;"><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#addMovie">ADD MOVIE</button></div>
    </div>

    <div class="container-fluid singleMovie" *ngFor="let movie of movies | myfilter:filterargs" >
      <li>
        <div class="title">{{movie.title}}</div>
        <div class="year">{{movie.productionDate}}</div>
        <div class="rating">{{movie.rating}}</div>
        <button type="button" class="btn btn-primary btn-md details" (click)="onSelect(movie)" data-toggle="modal" data-target="#movieEdit">Edit</button>
        <button type="button" class="btn btn-primary btn-md details" (click)="onSelect(movie)" data-toggle="modal" data-target="#movieDetails">Details</button>
      </li>
    </div>
  </ul>

</div>

<div id="movieDetails" class="modal fade" role="dialog">
  <detailsVhs-selector (rentMovie)="rentMovie($event)" [currentMovie]="currentMovie"></detailsVhs-selector>
</div>

<div id="addMovie" class="modal fade" role="dialog">
  <addVhs-selector (createNewMovie)="createNewMovie($event)"></addVhs-selector>
</div>

<div id="movieEdit" class="modal fade" role="dialog">
 <editVhs-selector (editMovie)="editMovie($event)" (deleteMovie)="deleteMovie($event)" [currentMovie]="currentMovie"></editVhs-selector>
</div>
