<div class="container moviesList">
  <div class="container-fluid singleMovie" *ngFor="let rent of allRentals" >
    <ul>
      <li>
        <div class="title">{{rent.vhs.title}}</div>
        <div class="title"> Rented by {{rent.socialSecurity}}</div>
        <button type="button" class="btn btn-primary btn-md details" (click)="onSelect(rent)" data-toggle="modal" data-target="#returnVhs">Return</button>
      </li>
    </ul>

  </div>
</div>

<div id="returnVhs" data-backdrop ="static" class="modal fade" role="dialog">
  <returnVhs-selector (notify)='returnVhs($event)' [currentRent]='currentRent'></returnVhs-selector>
</div>
